<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand text-info" href="#" [routerLink]="['/']" routerLinkActive="router-link-active">Projet</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-info text-decoration-none" href="#" [routerLink]="['/liste']" routerLinkActive="router-link-active">Liste de films</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-info text-decoration-none" href="#" [routerLink]="['/beers']" routerLinkActive="router-link-active">Liste de bières</a>
            </li>
        </ul>
    </nav>
</div>
